body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: 0;
    width: 100vw;
    height: 100vh;
  
  }
  
  :root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: f5f5f5;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  
  .textoColorido {
      color:black;
  }
  
  .btn{
    display: inline-block;
    padding: 10px 15px;
    width: 80px;
    color: black;
    background:#1C70B9;
    border: 1px solid #555;
    text-align: center;
  }
  
  .btn:hover{
    background:#4267b3;
  }
  
  .conteudo {
    background-image: linear-gradient(to right, rgb(20,147,220), rgb(17,54,71));
    position: fixed;
    border-bottom-width: 10vw;
    border-bottom: 3px solid white;
    width: 100%;
    }
  
  
  a {
      color: white;
      text-decoration: none;
      transition: 0.3s;
    }
    
  a:hover {
      opacity: 0.7;
    }
  
   nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-family: 'Sarala', sans-serif;;
      height: 12vh;
    }

    .titulo {
        display: inline-block;
        color: white;
        font-size:40px;
        padding-right: 600px;
        
      }

    .subtitulo {
      display: inline-block;
      color: #1C70B9;
      font-size:40px;
      padding-left: 100px;
      padding-right: 600px;
        
    }

      .nav-list {
        font-size: 20px;
        list-style: none;
        color:#339CFF;
        display: flex;
      }
    
     .nav-list li {
        letter-spacing: 3px;
        color:#339CFF;
        margin-left: 32px;
      }

      form textarea{
        width: 88%;
        padding: 20px;
        outline: none;
        border: 0;
        font-size: 17px;
        margin-bottom: 5px;
        transition: all 0.5s;
        align-items: center;
        border-radius: 16px;
      }